<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let letra of letras; let i = index">
    <ion-card-header>
      <ion-card-subtitle>{{letras[i].telefono}}</ion-card-subtitle>
      <ion-card-title>{{letras[i].nombre}}</ion-card-title>
      <ion-card-subtitle>{{letras[i].telefono}}</ion-card-subtitle>
      <ion-card-content>
      <ion-button color=warning (click)='borrar(i)'><ion-icon name="close-outline"></ion-icon></ion-button>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>
